<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.employeelist">

   <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Employee List"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Employee List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayDataActivity" />
        <activity android:name=".SingleRecordActivity" />
        <activity android:name=".EditSingleRecordActivity"></activity>
    </application>

</manifest>